<div id="vista_perfil" class="card">
  <div class="card-header" style="background-color: black">
    <strong style="color: white;">Perfil</strong>
     Usuario
   </div>
     <div class="card-body" style="background-color: white;">
       <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
         <div class="row form-group">
           <div class="col-md-3">
             <label style="color: black;" class="">Nombre de usuario</label>
           </div>
           <div class="col-12 col-md-9">
             <p style="color: black;" class="form-control-static emailName">Username</p>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="text-input" style="color: black;" class="">Número de indentificación</label>
           </div>
           <div class="col-12 col-md-9">
             <input id="tagRFID" name="text-input" placeholder="Número RFID" type="text" class="form-control">
             <small class="form-text text-muted">Número de tarjeta RFID</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="text-input" style="color: black;" class="" >Nombre</label>
           </div>
           <div class="col-12 col-md-9">
             <input id="nombre_input" name="text-input" placeholder="Nombre" type="text" class="form-control">
             <small class="form-text text-muted">Introduce tu nombre</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="text-input" style="color: black;" class="">Apellido</label>
           </div>
           <div class="col-12 col-md-9">
             <input id="apellido_input" name="text-input" placeholder="Apellido" type="text" class="form-control">
             <small class="form-text text-muted">Introduce tu apellido</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="text-input" style="color: black;" class="">Email</label>
           </div>
           <div class="col-12 col-md-9">
             <input id="email_input" name="email-input" placeholder="Email" autocomplete="email" type="email" class="form-control" disabled>
             <small class="help-block form-text text-muted">Introduce tu email</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="password-input" style="color: black;" class="">Password</label>
           </div><div class="col-12 col-md-9">
             <input id="password_input" name="password-input" placeholder="Password" autocomplete="new-password" type="password" class="form-control">
             <small class="help-block form-text text-muted">Introduce tu password</small>
           </div>
         </div>
           <div class="row form-group">
             <div class="col-md-3"><label for="select" style="color: black;" class="">Role</label>
             </div>
             <div class="col-12 col-md-9">
               <select name="select" id="select_role" class="form-control">
                 <option value="0">Please select</option>
                 <option value="1">ESTUDIANTE</option>
                 <option value="2">PROFESOR</option>
                 <option value="3">ADMIN</option>
               </select>
             </div>
           </div>
           <div class="row form-group">
             <div class="col-md-3"><label for="select" style="color: black;" class="">Rango</label>
             </div>
             <div class="col-12 col-md-9">
               <select name="select" id="select_rank" class="form-control">
                 <option value="0">Please select</option>
                 <option value="1">Público</option>
                 <option value="2">Limitado</option>
                 <option value="3">Especial</option>
               </select>
             </div>
           </div>
           <div class="row form-group">
             <div class="col-md-3">
               <label for="multiple-select" style="color: black;" class="">Recursos que manejas</label>
             </div>
             <div id="select_recursos" class="col-md-9">
               <select  id="multiple_select" class="form-control">
                 <option value= 0 >Selecciona ...</option>
               </select>
             </div>
             <div class="col-md-12">
             <button id="btnGuardarRecurso"  type="button" class="btn btn-primary btn-sm float-right" style="background-color: green" >
                Añadir
              </button>
              </div>
           </div>

         </form>
       </div>
       <div class="card-footer">
         <button id="btnGuardarPerfil" type="submit" class="btn btn-primary btn-sm float-right">
           <i class="fa fa-dot-circle-o"></i>
            Aceptar
          </button>
          <button id="btnResetPerfil" type="reset" class="btn btn-danger btn-sm float-right">
            <i class="fa fa-ban"></i>
             Descartar
           </button>
         </div>
       </div>
