<div id="vista_uso_resource" class="card">
  <div class="card-header" style="">
<div class="table-responsive">
    <table id="table_uso_recurso" class="table table-sm">
 <thead>
 <tr>
   <th scope="col">#</th>
   <th scope="col">ID</th>
   <th scope="col">EMPIEZA</th>
   <th scope="col">TERMINA</th>
   <th scope="col">ID RECURSO</th>
   <th scope="col">ID USUARIO</th>
   <th scope="col"></th>
 </tr>
 </thead>
 <tbody>

 </tbody>
 </table>
 </div>
</div>
