
<div id="vista_login" class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form ">
         <div class="logo mb-3">
           <div class="col-md-12 text-center">
            <h1>Login</h1>
          </div>
        </div>
        <form action="" method="post" name="login">
         <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
        </div>

        <div class="col-md-12 text-center ">
        <a id="btnLogin" class="btn btn-primary" href="#" role="button">Login</a>
        </div>
        <div class="col-md-12 ">
          <div class="login-or">
           <hr class="hr-or">
           <span class="span-or">or</span>
         </div>
       </div>
       <div class="col-md-12 mb-3">
        <p id="btnRegistrarse"  class="text-center" style= "color: blue;">
         <a class=""><i class="">
         </i> Registrarse
       </a>
     </p>
   </div>

 </form>

</div>
</div>
</div>
</div>
</div>
