<nav id="navbar_dark" class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
<a id="btn_navbar_dark" class="navbar-brand mr-auto mr-lg-0" href="#">ACTIVSPACE ADMIN</a>
<button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link NamePerfil" href="#">Dashboard <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item perfilUser">
      <a class="nav-link" href="#">Perfil</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configuración</a>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a id="btn_dropdown_users" class="dropdown-item" href="#">Gestión de usuarios</a>
        <a id="btn_dropdown_resources" class="dropdown-item" href="#">Gestión de recursos</a>
      </div>
    </li>
    <li class="nav-item tutorial">
      <a class="nav-link" href="#">Tutorial</a>
    </li>
    <li class="nav-item sobre">
      <a class="nav-link" href="#">Sobre</a>
    </li>
    <li class="nav-item salir">
      <a class="nav-link" href="#">Salir</a>
    </li>
  </ul>
</div>
</nav>


<nav id="navbar_white" class="nav nav-underline navbar-light bg-light">
  <a class="nav-link active NamePerfil" href="#">Dashboard</a>
  <a id="btn_eventos_calendario" class="nav-link" href="#" style="display: none;">
    Reservar
    <span id="nEventos" class="badge badge-pill bg-light align-text-bottom">27</span>
  </a>
  <a id="user_recursos" class="nav-link" href="#">Recursos</a>
  <a id="user_reservas" class="nav-link" href="#" style="display: none;">Mis reservas</a>
</nav>


<main id="divMain" role="main" class="container">



</main>

    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="../controller/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
      <script src="../controller/js/offcanvas.js"></script>
