<div id="vista_add_plan" class="card">
  <div class="card-header" style="background-color: black">
    <strong style="color: white;">Añadir Evento</strong>

   </div>
     <div class="card-body" style="background-color: white;">
       <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
         <div class="row form-group">
           <div class="col-md-3">
             <label for="date" style="color: black;">Fecha de inicio: </label>
           </div>
           <div class="col-12 col-md-9">
            <input type="date" id="date1">
             <small class="form-text text-muted">Día</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="time" style="color: black;">Hora de inicio: </label>
           </div>
           <div class="col-12 col-md-9">
            <input type="time" id="time1">
             <small class="form-text text-muted">Hora</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="date" style="color: black;">Fecha que termina: </label>
           </div>
           <div class="col-12 col-md-9">
            <input type="date" id="date2">
             <small class="form-text text-muted">Día</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="time" style="color: black;">Hora de finalización: </label>
           </div>
           <div class="col-12 col-md-9">
            <input type="time" id="time2">
             <small class="form-text text-muted">Hora</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="multiple-select" style="color: black;" class="">Recursos</label>
           </div>
           <div id="select_recursos" class="col-md-9">
             <select  id="multiple_select" class="form-control">
               <option value= 0 >Selecciona ...</option>
             </select>
           </div>
         </div>
         </form>
       </div>
       <div class="card-footer">
         <button id="btnGuardarPlan" type="submit" class="btn btn-primary btn-sm float-right">
           <i class="fa fa-dot-circle-o"></i>
            Crear
          </button>
          <button id="btnResetPlan" type="reset" class="btn btn-danger btn-sm float-right">
            <i class="fa fa-ban"></i>
             Salir
           </button>
         </div>
       </div>
