<div id="vista_ges_resources" class="card">
  <div class="card-header" style="background-color: black">
    <strong style="color: white;">Recurso</strong>

   </div>
     <div id= "card_body_recursos" class="card-body" style="background-color: white;">
       <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
         <div class="row form-group">
           <div class="col-md-3">
             <label for="text-input" style="color: black;" class="" >IP_Plug</label>
           </div>
           <div class="col-12 col-md-9">
             <input id="ip_input" name="text-input" placeholder="ip" type="text" class="form-control">
             <small class="form-text text-muted">IP</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="text-input" style="color: black;" class="" >Nombre</label>
           </div>
           <div class="col-12 col-md-9">
             <input id="nombre_input" name="text-input" placeholder="Nombre" type="text" class="form-control">
             <small class="form-text text-muted">Introduce un nombre</small>
           </div>
         </div>
         <div class="row form-group">
           <div class="col-md-3">
             <label for="text-input" style="color: black;" class="">Descripción</label>
           </div>
           <div class="col-12 col-md-9">
             <input id="descripcion_input" name="text-input" placeholder="Descripcion" type="text" class="form-control">
             <small class="form-text text-muted">Introduce su descripción</small>
           </div>
         </div>
           <div class="row form-group">
             <div class="col-md-3"><label for="select" style="color: black;" class="">Rango</label>
             </div>
             <div class="col-12 col-md-9">
               <select name="select" id="select_rank" class="form-control">
                 <option value="0">Please select</option>
                 <option value="1">Público</option>
                 <option value="2">Limitado</option>
                 <option value="3">Especial</option>
               </select>
             </div>
           </div>
         </form>
       </div>
       <div id="footer_recurso" class="card-footer">
         <button id="btnGuardarPerfil" type="submit" class="btn btn-primary btn-sm float-right">
           <i class="fa fa-dot-circle-o"></i>
            Aceptar
          </button>
          <button id="btnResetPerfil" type="reset" class="btn btn-danger btn-sm float-right">
            <i class="fa fa-ban"></i>
             Descartar
           </button>
         </div>
       </div>
