
<div id="vista_registro" class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <div id="first">
        <div class="myform form ">
         <div class="logo mb-3">
           <div class="col-md-12 text-center">
            <h1>Registro</h1>
          </div>
        </div>
        <form action="" method="post" name="login">
         <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Password</label>
          <input type="password" name="password1" id="password1"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Confirmar password</label>
          <input type="password" name="password2" id="password2"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
        </div>

        <div class="col-md-12 text-center ">
        <a id="btnRegistro" class="btn btn-primary" href="#" role="button">Registro</a>
        </div>
        <div class="col-md-12 ">
          <div class="login-or">
           <hr class="hr-or">
           <span class="span-or">or</span>
         </div>
       </div>
       <div class="col-md-12 text-center ">
       <a id="btnVolver" class="btn btn-primary" href="#" role="button">Volver</a>
       </div>


 </form>

</div>
</div>
</div>
</div>
</div>
