
<div id="geopage" >
            <h1>Cerca de tu área!</h1>
            <div id="usuarios"></div>

          
</div>


var Usuarios = React.createClass({
		getInitialState: function(){
				return({
						usuarios: []
				});
		},
		render: function(){
				var usuarios = this.state.usuarios;
				usuarios = usuarios.map(function(usuario, index){
				console.log(usuario);
						return(
								<li key={index}>
										<span className={usuario.available}></span>
										<span className="name">{usuario.name}</span>
										<span className="dist">{Math.floor(usuario.dist / 1000)} km</span>
								</li>
						);
				});
				return(
						<div id="usuario-container">
								<form id="search" onSubmit={this.handleSubmit}>
										<label>Enter your Latitude:</label>
										<input id= "latitude" type="text" ref="lat" placeholder="latitude" required />
										<label>Enter your Longitude:</label>
										<input id= "longitude" type="text" ref="lng" placeholder="longitude" required />
										<input type="submit" value="Find Users" />
								</form>
								<ul>{usuarios}</ul>
						</div>
				);
		},
		handleSubmit: function(e){
				e.preventDefault();
				var lng = this.refs.lng.value;
				var lat = this.refs.lat.value;
				fetch('/api/usuarios?lng=' + lng + '&lat=' + lat).then(function(data){
						return data.json();
				}).then( json => {
						this.setState({
								usuarios: json
						});
						console.log(json);
				});
		}
});
ReactDOM.render(<Usuarios />, document.getElementById('usuarios'));
